# Importing Professions

# Preprocessing using R
setwd("/Users/daliashanshal/DS8008-project/data")
library(rjson)
professionsJSON = fromJSON(file="professions.json")
myprofessions = unlist(professionsJSON)
idx = seq(1,length(myprofessions), by=3)
myprofessions = myprofessions[idx]
myprofessions = c(myprofessions, "she", "he")
myprofessions = as.data.frame(myprofessions)
write.csv(myprofessions, file="myprofessions.csv")

In [2]:
import pandas as pd
import os
os.getcwd()
data = pd.read_csv("/Users/daliashanshal/DS8008-project/Dalia/myprofessions.csv", encoding="latin1")
data.tail(13)
# 320 professions. 
# I added she, he at the end for embedding and pojection purposes.

     Unnamed: 0    myprofessions
309         310  vice_chancellor
310         311        violinist
311         312         vocalist
312         313           waiter
313         314         waitress
314         315           warden
315         316          warrior
316         317           welder
317         318           worker
318         319         wrestler
319         320           writer
320         321              she
321         322               he

In [3]:
# I only select the professions column I want to use
myprofessions = data.iloc[:,1]
professions = myprofessions.values.tolist()

In [4]:
#I want to remomve the '_', so that the word for ex, vice_chancellor
# become vice-chancellor. I need the correct format to find it in glove
import re
professions = [re.sub('_', "-", p) for p in professions]

In [5]:
# from numpy import array
# from numpy import asarray
# from numpy import zeros
# from keras.preprocessing.text import Tokenizer
# from keras.preprocessing.sequence import pad_sequences

# # Prepare tokenizer
# t = Tokenizer()
# t.fit_on_texts(professions)

# # Set vocab size
# vocab_size = len(t.word_index)+1

# # integer encode the professions
# encoded_professions = t.texts_to_sequences(professions)

In [6]:
# load the whole embedding into memory
from numpy import array
from numpy import asarray
embeddings_index = dict()
#first download the glove word emedding and then search for them
f = open('/Users/daliashanshal/Desktop/NLP_Project/glove.6B.50d.txt',encoding="utf8")
for line in f:
    values = line.split()
    word = values[0]
    coefs = asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
f.close()
print('Loaded %s word vectors.' % len(embeddings_index))

Loaded 400000 word vectors.

In [7]:
# Selecting professions and she,he from glove 50d word embedding
professions_embedding = [(key,value) for (key,value) in embeddings_index.items() if key in professions]

In [8]:
# Note for self: the original occupation list is 320 occup. In glove, we detected 299-2(he,she)
# of those.
len(professions_embedding)

299

In [9]:
# She minus he bias vector
she_minus_he = professions_embedding[1][1] - professions_embedding[0][1]

In [10]:
# Saving professions embeddings to csv (for R manipulation)
professions_embedding_df = pd.DataFrame(professions_embedding)
#professions_embedding_df.to_csv(r'professions_embedding_df.csv')
a = (professions_embedding_df.iloc[:,1].values.tolist())
b = pd.DataFrame(a)
c = professions_embedding_df.iloc[:,0]
professions_embedding_df = pd.concat([c,b], axis=1)
professions_embedding_df.to_csv(r'professions_embedding_df.csv')

In [24]:
# Draft and tests
import numpy as np
print(np.sqrt(sum((she_minus_he)**2)))
# Normalize vectors first
professions_embedding_df.head(6)

2.6675397755987453

,0,0,1,2,3,4,5,6,7,8,...,40,41,42,43,44,45,46,47,48,49
0,he,-0.200920,-0.060271,-0.61766,-0.84440,0.57810,0.14671,-0.86098,0.67050,-0.86556,...,-0.169250,0.10228,-0.621430,0.19829,-0.361470,-0.24769,-0.389890,-0.33317,-0.041659,-0.013171
1,she,0.060382,0.378210,-0.75142,-0.72159,0.58648,0.79126,-0.72947,0.68248,-0.12999,...,-0.044785,-0.06674,0.003037,-0.33905,0.017784,-0.58499,-0.005014,-1.25700,-0.060723,0.422470
2,president,-0.118750,0.672200,0.19444,0.55269,0.53698,-0.37237,-0.73494,-0.30575,-0.92601,...,-0.832740,1.19320,-0.752110,-1.16030,-0.100740,0.60224,-1.373900,0.33674,-0.312240,0.097583
3,minister,0.039931,0.507250,-0.18625,0.32268,0.65427,0.20286,-0.49660,0.13383,-1.71120,...,-0.397490,1.66540,-0.288790,-1.96150,0.893560,0.15835,-2.187700,0.93192,1.906600,-0.158900
4,director,-0.175740,0.364460,-0.78658,0.68581,0.15354,-0.54165,-0.71137,-1.10200,0.73644,...,-0.216240,1.30860,-0.178440,-1.22980,0.126960,-0.37488,-0.702780,-0.10767,-0.117420,1.762800
5,secretary,-0.145080,0.146450,-0.76128,0.38553,0.74353,-0.85069,-0.36512,-0.23606,-0.45598,...,-0.857860,1.15580,-0.350480,-1.35240,0.227050,0.29751,-1.335200,0.56035,0.277080,1.195400